html {
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background: linear-gradient(#a9cdee, #184b3a) no-repeat;
    box-sizing: border-box;
    height: 100%;
    overflow: hidden;
}

.container {
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.header {
    flex: 0 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: nowrap;
    padding: 60px 40px 10px;
}

@keyframes sun-shines {
    0% {
        box-shadow: 0px 0px 30px 5px #f1c73a;
    }

    50% {
        box-shadow: 0px 0px 60px 10px #ffc506;
    }

    100% {
        box-shadow: 0px 0px 30px 5px #f1c73a;
    }
}

.sun {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    background-color: #e98629;
    background: radial-gradient(at 10% 30%, #e98629, #f1c73a);
    box-shadow: 0px 0px 30px 5px #f1c73a;
    animation: sun-shines linear 10s infinite;
    filter: blur(5px);
    margin: 30px 0 0 60px;
}

.clouds {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-end;
    width: 60%;
    z-index: 100;
    opacity: 0.5;
    position: relative;
    animation: moove linear 40s infinite;
}

@keyframes moove {
    0% {
        transform: translateX(-100vw);
    }

    25% {
        transform: translateX(-50vw);
    }

    50% {
        transform: translateX(0);
    }

    75% {
        transform: translateX(50vw);
    }

    100% {
        transform: translateX(100vw);
    }
}

.cloud {
    width: 140px;
    height: 80px;
    background: #a9cdee;
    background: linear-gradient(rgba(98, 127, 155, 1) 20%, rgba(238, 244, 248, 1) 80%);
    border-radius: 43%;
    position: relative;
}

.cloud::before {
    content: "";
    width: 80px;
    height: 80px;
    background: rgba(98, 127, 155, 1);
    border-radius: 50%;
    position: absolute;
    top: -40px;
    left: 15px;
    z-index: -1;
    filter: blur(2px);
}

.cloud::after {
    content: "";
    width: 50px;
    height: 50px;
    background: rgba(98, 127, 155, 1);
    border-radius: 50%;
    position: absolute;
    top: -25px;
    left: 75px;
    z-index: -1;
    filter: blur(2px);
}

.cloud-1 {
    width: 180px;
    height: 80px;
    border-radius: 45%;
    margin-right: 40px;
}

.cloud-3 {
    width: 120px;
    height: 60px;
    border-radius: 45%;
    margin-left: 40px;
}

.main-content {
    flex: 1 0 auto;
    position: relative;
}

.cat {
    position: absolute;
    bottom: -90px;
    left: 200px;
    animation:  moove linear 10s 12s infinite, run linear 10s 2s 1 forwards;
    height: 325px;
}

.cat__head {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: #131210;
    position: absolute;
    left: 50px;
    top: 10px;
}

.ear {
    width: 0;
    height: 0;
    border-left: 35px solid transparent;
    border-right: 35px solid transparent;
    border-bottom: 60px solid #131210;
}

.ear:nth-child(1) {
    position: absolute;
    top: -20px;
    left: -26px;
    transform: rotate(-42deg);
}

.ear:nth-child(2) {
    position: absolute;
    top: 0px;
    right: -43px;
    transform: rotate(60deg);
}

.eyes {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: absolute;
    top: 65px;
    left: 30px;
}

.eye {
    width: 45px;
    height: 30px;
    border-radius: 50%;
    background-color: #58b960;
    z-index: 100;
    animation: blink linear 1.5s 1;
}

@keyframes blink {
    0% {
        transform: scaleY(1);
    }

    25% {
        transform: scaleY(0.7);
    }

    50% {
        transform: scaleY(0.2);
    }

    75% {
        transform: scaleY(0.7);
    }

    100% {
        transform: scaleY(1);
    }
}

.eye__item {
    width: 20px;
    height: 100%;
    background-color: #131210;
    border-radius: 50%;
    margin: 0 auto;
}

.eye:nth-child(1) {
    margin-right: 7px;
}

.eye:nth-child(2) {
    margin-left: 7px;
}

.cat__body {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: #131210;
    position: absolute;
    left: 25%;
    bottom: 40px;
    z-index: -1;
    animation: rotate linear 3s 0.5s infinite;
}

.cat__body::before {
    content: "";
    width: 80px;
    height: 50px;
    border-radius: 50%;
    background-color: #131210;
    position: absolute;
    left: -50px;
    bottom: -3px;
    transform: rotate(75deg);
}

.cat__body::after {
    content: "";
    width: 80px;
    height: 50px;
    border-radius: 50%;
    background-color: #131210;
    position: absolute;
    left: 110px;
    bottom: -10px;
    transform: rotate(160deg);
}

@keyframes run {
    0% {
        left: 200px;
    }

    100% {
        left: 100vw;
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0);
    }

    50% {
        transform: rotate(20deg);
    }

    100% {
        transform: rotate(0);
    }
}

.footer {
    flex: 0 0 auto;
}

.grass {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-end;
}

.grass__item {
    height: 80px;
    width: 20px;
    background-color: #133026;
    background: linear-gradient(#63b37d, #133026);
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    animation: grass-breeze 3s linear infinite alternate;
}

.grass__item:nth-child(odd) {
    height: 60px;
}

@keyframes grass-breeze {
    0% {
        transform: translateX(0px);
        transform: rotate(0);
    }

    100% {
        transform: translateX(2px);
        transform: rotate(7deg);
    }
}

@media (max-width: 800px) {
    .sun {
        width: 100px;
        height: 100px;
        margin: 20px 0 0 40px;
    }  

    .clouds {
        flex-wrap: wrap;
    }
    
    .cloud {
        width: 100px;
        height: 40px;
        background: #a9cdee;
        background: linear-gradient(rgba(98, 127, 155, 1) 20%, rgba(238, 244, 248, 1) 80%);
        border-radius: 43%;
        position: relative;
    }
    
    .cloud::before {
        content: "";
        width: 40px;
        height: 40px;
        background: rgba(98, 127, 155, 1);
        border-radius: 50%;
        position: absolute;
        top: -20px;
        left: 15px;
        z-index: -1;
        filter: blur(2px);
    }
    
    .cloud::after {
        content: "";
        width: 30px;
        height: 30px;
        background: rgba(98, 127, 155, 1);
        border-radius: 50%;
        position: absolute;
        top: -10px;
        left: 46px;
        z-index: -1;
        filter: blur(2px);
    }
    
    .cloud-1 {
        width: 80px;
        height: 30px;
        border-radius: 45%;
        margin-right: 40px;
    }
    
    .cloud-3 {
        width: 80px;
        height: 30px;
        border-radius: 45%;
        margin-left: 40px;
    }
}
